body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(0,0,0);
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	background-color: rgb(255,255,255);
}
.main-navigation img {
	display: block;
	margin: 0 auto;
}
.site-navigation {
	list-style: none;
}
.site-navigation a {
	color: rgb(0,0,0);
}
.site-navigation a:hover {
 	color: rgb(129,179,210);
}
.site-navigation a:focus {
 	color: rgba(0,0,0,0.3);
}
.current-page {
	color: rgb(118,99,87);
}
.features::before {
	content: "";
	display: block;
	background-image: url(../img/inscription-on-background-intro.png),
					  url(../img/background-progressive-midquality.jpg);
	background-size: 458px 352px ,100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 30%, center;
	background-color: rgb(84,109,127);
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}
.search-options::before {
	content: "";
	display: block;
	background-image: url(../img/background-hotels-progressive-midquality.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}
.features {
	text-align: center;
}
.features h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.features p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}
.feature-1-img h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.feature-1-img {
	color: rgb(255,255,255);
}
.feature-1-txt div:nth-child(1)::before {
	content: "";
	display: inline-block;
	width: 72px;
	height: 75px;
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	
}
.feature-1-txt div:nth-child(2)::before {
	content: "";
	display: inline-block;
	width: 70px;
	height: 74px;
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	
}
.feature-1-txt div:nth-child(3)::before {
	content: "";
	display: inline-block;
	width: 76px;
	height: 64px;
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	
}
.feature-1-img div:first-child {
	background-color: rgb(129,179,210);
}
.feature-1-img p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.feature-1-txt {
	background-color: rgb(255,255,255);
}
.feature-1-txt h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.feature-1-txt p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(51,51,51);
} 
.feature-2 div:last-child {
	background-color: rgb(129,179,210);
}
.feature-2 {
	color: rgb(255,255,255);
}
.feature-2 h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.feature-2 p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;	
}
.features-3-4-5 {
	background-color: rgb(238,238,238);	
}
.features-3-4-5 h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.features-3-4-5 p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(51,51,51);
}
.interested {
	background-color: rgb(255,255,255);
	text-align: center;
}
.interested h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}
.interested p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(51,51,51);
}
.search-hotel-form {
	width: 1200px;
	margin: 0 auto;
}
.search-hotel input {
	font: inherit;
	text-transform: uppercase;
}
.search-hotel input[type="submit"],
.search-hotel input[type="button"] {
	color: rgb(255,255,255);
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
}
.search-hotel input[type="button"] {
	background-color: rgb(118,99,87);
}
.search-hotel input[type="button"]:hover {
	background-color: rgb(96,78,67);
}
.search-hotel input[type="button"]:focus {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255,0.3);
}
.search-hotel input[type="submit"] {
	background-color: rgb(129,179,210);
}
.search-hotel input[type="submit"]:hover {
	background-color: rgb(102,158,192);
}
.search-hotel input[type="submit"]:focus {
	background-color: rgb(84,150,189);
	color: rgba(255,255,255,0.3);
}
.search-hotel input[type="date"],
.search-hotel input[type="number"],
 .search-hotel label {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	
}
.search-hotel input[type="date"],
.search-hotel input[type="number"] {
	background-color: rgb(242,242,242);
	border: 2px solid rgb(242,242,242);
}
.search-hotel input[type="date"]:focus,
.search-hotel input[type="number"]:focus {
	background-color: rgb(255,255,255);
	border: 2px solid rgb(242,242,242);
}
.map {
	background-image: url(../img/map.png);
	width: 1200px;
	height: 594px;
	margin: 0 auto;
}
.main-footer>p {
	font-size: 21px;
	font-weight: 700;
}
.social-contacts li {
	list-style: none;
	width: 48px;
	height: 48px;
	background-color: rgb(129,179,210);
	margin: 10px;
}
.social-contacts li:first-child {
	background-image: url(../img/twitter.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.social-contacts li:nth-child(2) {
	background-image: url(../img/fb-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.social-contacts li:last-child {
	background-image: url(../img/youtube.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.search-options {
	background-color: rgb(84,109,127);
	color: rgb(255,255,255);
	width: 1200px;
	margin: 0 auto;
}
.search-options label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.search-options p,
.search-options label[for="cost"] {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}
.result-parameters>p:first-child {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.sorting p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
.sorting a{
	color: rgb(129,179,210);
}
.result1 a:first-child,
.result2 a:first-child,
.result3 a:first-child {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgb(0,0,0);
}
.result1 a:first-child:hover,
.result2 a:first-child:hover,
.result3 a:first-child:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgb(129,179,210);
}
.result1 a:first-child:focus,
.result2 a:first-child:focus,
.result3 a:first-child:focus {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0,0,0,0.3);
}
.result1 p,
.result2 p,
.result3 p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(51,51,51);
}
.rating ul{
	list-style: none;
}
.rating li {
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.rating p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(102,102,102);
	background-color: rgb(247,247,247);
}