body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(0,0,0);
	text-transform: uppercase;
	background-color: rgb(242,242,242);
	width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
	        box-shadow: 0 0 15px rgba(0,0,0,0.2);
	position: relative;
	overflow: scroll;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	background-color: rgb(255,255,255);
}
.site-navigation {
	list-style: none;
}
.site-navigation a {
	color: rgb(0,0,0);
}
.site-navigation a:hover {
 	color: rgb(129,179,210);
}
.site-navigation a.current-page:hover {
 	color: rgb(118,99,87);
}
.site-navigation a:active {
 	color: rgba(0,0,0,0.3);
}
.site-navigation .current-page {
	color: rgb(118,99,87);
}
.hero {
	background-image: url("../img/background-progressive-midquality.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:  bottom, center;
	background-color: rgb(84,109,127);
	position: relative;
	width: 1200px;
	min-height: 508px;
	margin: 0 auto;
}
.hero::before {
	content: "";
	display: block;
	position: absolute;
	background-position: bottom;
	background-image: url("../img/white-figure-on-background-1200.png");
	background-repeat: no-repeat;
	width: 1200px;
	height: 508px;
}
.hero img {
	display: block;
	margin: 0 auto;
	padding-top: 76px;
}
.features {
	text-align: center;
}
.features h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.features p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}
.feature-1-img h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.feature-1-img {
	color: rgb(255,255,255);
}
.feature-1-txt div:nth-child(1)::before {
	content: "";
	display: inline-block;
	vertical-align: center;
	width: 77px;
	height: 75px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.feature-1-txt div:nth-child(2)::before {
	content: "";
	display: inline-block;
	vertical-align: center;
	width: 77px;
	height: 75px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: center;	
	background-position: 0;
}
.feature-1-txt div:nth-child(3)::before {
	content: "";
	display: inline-block;
	vertical-align: center;
	width: 77px;
	height: 76px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 7px 0px;
	background-origin: border-box;
}
.feature-1-img div:first-child {
	background-color: rgb(129,179,210);
}
.feature-1-img p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.feature-1-txt {
	background-color: rgb(255,255,255);
}
.feature-1-txt h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 22px;
}
.feature-1-txt p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(51,51,51);
	padding-top: 24px;
} 
.feature-2 div:last-child {
	background-color: rgb(129,179,210);
}
.feature-2 {
	color: rgb(255,255,255);
}
.feature-2 h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.feature-2 p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;	
}
.features-3-4-5 {
	background-color: rgb(238,238,238);	
}
.features-3-4-5 h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.features-3-4-5 p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(51,51,51);
}
.interested {
	background-color: rgb(255,255,255);
	text-align: center;
	width: 1200px;
	margin: 0 auto;
}
.interested h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
	padding-top: 50px;  
}
.interested p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(51,51,51);
	padding-top: 25px;
	margin: 0;
}
.interested p:nth-of-type(2) {
	padding: 0;
}
.search-hotel-form {
	display: block;	
	-webkit-animation-name: bounce;
	        animation-name: bounce; 
    -webkit-animation-duration: 0.6s; 
            animation-duration: 0.6s; 
	position: absolute;
	width: 568px;
	min-height: 395px;
	background-color: rgb(255,255,255);
	left:50%;
	margin-left:-284px;
	-webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.1),
				0 5px 15px rgba(0,0,0,0.1),
				-5px 5px 15px rgba(0,0,0,0.1);
	        box-shadow: 5px 5px 15px rgba(0,0,0,0.1),
				0 5px 15px rgba(0,0,0,0.1),
				-5px 5px 15px rgba(0,0,0,0.1);
}
.search-hotel-form-closed {
	display: none;
}
.search-hotel-form input.arrival_date,
.search-hotel-form input.date_of_departure {
	width: 345px;
	margin-left: auto;
	margin-right: 55px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 10px;
	padding-right: 33px;
}
.search-hotel-form form {
	position: relative;
}
.search-hotel-form svg:first-of-type {
	display: block;
	position: absolute;
	fill: rgb(169,169,169);
	right: 64px;
	top: 63px;
}
.search-hotel-form svg:last-of-type {
	display: block;
	position: absolute;
	fill: rgb(169,169,169);
	right: 64px;
	top: 130px;
}
.search-hotel-form svg:hover {
	fill: rgb(0,0,0);
}
.search-hotel-form svg:active {
	fill: rgb(129,179,210);
}
.button-minus,
.button-plus {
	font-family: Arial, "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: rgb(169,169,169);
}
.button-minus:hover,
.button-plus:hover {
	color: rgb(0,0,0);
}
.button-minus:active,
.button-plus:active {
	color: rgb(129,179,210);
}
.search-hotel-form input {
	font: inherit;
	height: 38px;	
	-webkit-box-sizing: border-box;	
	        box-sizing: border-box;
}
.search-hotel-form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.adults-label {
	margin-left: 55px;
	margin-top: 31px;
}
.children-label {
	margin-left: 55px;
	margin-top: 31px;
}
.adult-block {
	margin-left: 42px;
	margin-top: 31px;
}
.children-block {
	margin-left: 25px;
	margin-top: 31px;
}
.adult-block,
.children-block {
	display: flex;
	width: 114px;
}
.button-minus,
.button-plus,
.adults,
.children {
	width: 38px;
	height: 38px;
	border: none;
	background-color: rgb(250,250,250);
	text-align: center;
}
.search-hotel-form label:first-of-type, 
.search-hotel-form input.arrival_date {
	margin-top: 55px;
}
.search-hotel-form label:nth-of-type(2), 
.search-hotel-form input:nth-of-type(2) {
	margin-top: 29px;
}
.search-hotel-form label[for="arrival_date"],
.search-hotel-form label[for="date_of_departure"] {
	margin-left: 55px;
}
.search-hotel-form input[type="submit"] {
	width: 458px;
	height: 58px;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
}
.search-hotel input[type="submit"],
.interested input[type="button"] {
	font: inherit;
	color: rgb(255,255,255);
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
}
.interested input[type="button"] {
	background-color: rgb(118,99,87);
	width: 568px;
	height: 86px;
	margin-top: 46px;
}
.interested input[type="button"]:hover {
	background-color: rgb(96,78,67);
}
.interested input[type="button"]:active {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255,0.3);
}
.search-hotel input[type="submit"] {
	background-color: rgb(129,179,210);
}
.search-hotel input[type="submit"]:hover {
	background-color: rgb(102,158,192);
}
.search-hotel input[type="submit"]:active {
	background-color: rgb(84,150,189);
	color: rgba(255,255,255,0.3);
}
.search-hotel input,
.search-hotel label {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;	
}
.input-date {
	background-color: rgb(242,242,242);
	border: 2px solid rgb(242,242,242);
}
.input-date:focus {
	background-color: rgb(255,255,255);
	border: 2px solid rgb(242,242,242);
}
.map iframe {
	width: 100%;
	height: 100%;
	border: 0;
}
.map {
	background-image: url("../img/map.png");
	background-color: rgb(209,223,179);
	width: 1200px;
	height: 594px;
	margin: 0 auto;
}
.main-footer {
	position: absolute;
	width: 1200px;
	min-height: 120px;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
	left: 50%;
	margin-left: -600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 
}
.inner-main-footer {
	position: static;
	margin: 0 auto;
}
.hashtag {
	margin-top: 49px;
	margin-left: 132px;
}
.social-contacts {
	margin: 36px 0 0 210px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.main-footer > p {
	font-size: 21px;
	font-weight: 700;
}
.social-contacts li {
	list-style: none;
}
.social-contacts a:hover {
	background-color: rgb(102,158,192);
}
.social-contacts a:active {
	fill: rgba(255,255,255,0.3);
	background-color: rgb(84,150,189);
}
.footer-logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-right: 101px;
	margin-top: 39px;
}
.footer-logo p {
	margin: 10px 7px 0 0;
}
.footer-logo svg {
	fill: rgb(0,0,0);
}
.footer-logo svg:hover {
	fill: rgb(129,179,210);
}
.footer-logo svg:active {
	fill: rgb(235,235,235);
}
.social-item-link {
	width: 47px;
	height: 47px;
	background-color: rgb(129,179,210);
	margin-left: 5px;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	fill: rgb(255,255,255);
}
.search-options {
	background-image: url("../img/background-hotels-progressive-midquality.jpg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(84,109,127);
	width: 1200px;
	min-height: 217px;
	color: rgb(255,255,255);
	width: 1200px;
	margin: 0 auto;
}
.checkbox {
  	position: absolute;
  	z-index: -1;
  	opacity: 0;
}
.checkbox + label {
  	position: relative;
  	padding: 0 0 0 40px;
  	cursor: pointer;
}
.checkbox + label:before {
  	content: "";
  	position: absolute;
  	left: 0px;
  	top: -2px;
  	width: 23px;
  	height: 23px;
  	background-image: url("../img/checkbox-off.svg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 100% 100%;
}
.checkbox:checked + label:before {
  	content: "";
  	position: absolute;
  	left: 0px;
  	top: -2px;
  	width: 26px;
  	height: 23px;
  	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.search-hotels-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.infrastructure-column {
	list-style: none;
	padding: 0;
	width: 240px;
	margin: 0 0 0 72px;
}
.infrastructure-column li {
	width: 240px;
	padding: 13px 0;
}
.infrastructure-column li:first-of-type {
	padding-top: 25px;
}
.infrastructure-column p {
	margin: 0;
}
.type-of-accommodation-column {
	list-style: none;
	padding: 0;
	margin: 0 0 0 14px;
	width: 288px;
}
.type-of-accommodation-column p {
	margin: 0;
}
.type-of-accommodation-column li {
	padding: 13px 0;
}
.type-of-accommodation-column li:first-of-type {
	padding-top: 25px;
}
.price-column {
	width: 318px;
	margin-left: auto;
	margin-top: 27px;
	margin-right: 72px;
}
.filter-range-title {
  	margin-bottom: 9px;
  	font-weight: 700;
  	font-size: 16px;
  	line-height: 21px;
}
.price-controls {
 	position: relative;
  	height: 32px;
 	margin-bottom: 20px;
  	font-size: 0;
 	border: 2px solid #ffffff;
 	border-radius: 2px;
}
.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.price-controls label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 38px;
	cursor: pointer;	
}
label.min-price {
	margin-top: 5px;
	margin-left: 5px;
}
label.max-price {
	margin-top: 5px;
}
.price-controls .min-price{
	width: 90px;
	padding-left: 60px;
}
.price-controls .max-price {
	width: 90px;
	padding-left: 57px;
}
.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}
.range-controls {
	position: relative;
	margin-bottom: 32px;
}
.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}
.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range-toggle:hover {
	background: #1c4f80;
}
.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%;
}
.btn-transparent {
	display: block;
	margin: 0 auto;
	margin-left: 84px;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}
.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}
.search-options label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.search-options p,
.search-options label[for="cost"] {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}
.result {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.result-parameters {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 72px;
	min-height: 86px;	
	background-color: rgb(254,254,254);
	border-bottom: 1px solid rgb(229,229,229);
}
.result-parameters p {
	margin: 0;
	margin-top: 30px;
}
.result-parameters>p:first-child {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.sorting {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 34px 0 0 0;
}
.sorting p {
	display: inline;
	font-size: 12px;
	line-height: 18px;
	vertical-align: baseline;
	font-weight: 400;
	margin-left: 49px;
}
.sorting a {
	font-size: 12px;
	line-height: 18px;
	vertical-align: baseline;
	font-weight: 400;
	color: rgb(202,202,202);
	border-bottom: 1px dotted rgb(129,179,210);
}
.sorting a:hover {
	color: rgb(129,179,210);
}
.sorting a:active {
	color: rgb(35,31,32);
	border-bottom: none;
}
.sorting a.current {
	color: rgb(129,179,210);
	border-bottom: none;
}
.sorting a.current:hover {
	border-bottom: 1px dotted rgb(129,179,210);
}
.sorting a.current:active {
	color: rgb(35,31,32);
	border-bottom: none;
}
.sorting-on-price {
	margin-left: 39px; 
}
.sorting-on-type {
	margin-left: 32px; 
}
.sorting-on-rating {
	margin-left: 32px; 
}
.sorting-direction {
	margin-left: auto;
	margin-top: 33px;
}
.sorting-direction a {
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.triangle-up {
  	width: 0; 
 	height: 0; 
  	border-left: 6px solid transparent;
 	border-right: 6px solid transparent;
  	border-bottom: 10px solid rgb(209,209,209);
}
.triangle-up:hover {
	border-bottom: 10px solid rgb(35,31,32);
}
.triangle-up:active {
	border-bottom: 10px solid rgb(129,179,210);
}
.triangle-down {
	margin-left: 7px;
  	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid rgb(129,179,210);
}
.triangle-down:hover {
	border-top: 10px solid rgb(35,31,32);
}
.triangle-down:active {
	border-top: 10px solid rgb(129,179,210);
}
.result-column-1 {
	line-height: 0;
}
.result-column-2 {
	display: block;
	margin-left: 30px;
}
.result-column-2-container {
	margin-top: 3px;
	display: block;
}
.result-column-2-container * {
	display: inline-block;
	vertical-align: baseline;
}
.result-column-2-container *:first-child {
	margin-top: 3px;
	margin-right: 2px;
	width: 110px;
	height:  27px;
}
.result-column-2-container *:last-child {
	width: 110px;
	height: 27px;
}
.result-column-2-container a:first-child {
	font-weight: 700;
	width: 78px;
	height:  21px;
	background-color: rgb(129,179,210);
	color: rgb(255,255,255);
	padding: 3px 16px;
	margin-right: 2px;
}
.result-column-2-container a:first-child:hover {
	background-color: rgb(102,158,192);
}
.result-column-2-container a:first-child:active {
	background-color: rgb(84,150,189);
	color: rgba(255,255,255,0.3);
}
.result-column-2-container a:last-child:hover {
	background-color: rgb(96,78,67);
}
.result-column-2-container a:last-child:active {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255,0.3);
}
.result-column-2-container a:last-child {
	font-weight: 700;
	width: 110px;
	height: 21px;
	background-color: rgb(118,99,87);
	color: rgb(255,255,255);	
	padding: 3px 16px;
}
.result-column-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: auto;
}
.result-column-3 p {
	display: block;
	width: 110px;
	height: 24px;
	margin: 0;
	text-align: center;
	padding-top: 3px;
}
.result {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 72px;
	min-height: 90px;
	background-color: rgb(254,254,254);
	border-bottom: 1px solid rgb(229,229,229);
}
.result-column-2 > a {
	font-size: 21px;
	line-height: 20px;
	font-weight: 700;
	color: rgb(0,0,0);
}
.result-column-2 > a:first-child:hover {
	color: rgb(129,179,210);
}
.result-column-2 > a:first-child:active {
	color: rgba(0,0,0,0.3);
}
.result p {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(51,51,51);
}
.rating-stars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
}
.rating li {
	display: block;
	width: 18px;
	min-height: 18px;
	margin: 0 0 0 6px;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.rating p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(102,102,102);
	background-color: rgb(247,247,247);
}
.main-header {
	margin: 0 auto;
	width: 1200px;
	min-height: 56px;
}
.main-navigation {	
	position: relative;
	margin: 0 auto;
	width: 1200px;
	min-height: 100%;
}
.main-navigation>a {
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -69px;
}
.site-navigation {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	padding: 0px 72px;
}
.site-navigation li {
	width: 20%;
	margin: 14px 0 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 20%;
}
.site-navigation li:nth-child(2) {
	padding-left: 30px;
	margin-right: auto;
}
.site-navigation li:nth-child(3) {
	padding-right: 34px;
	
}
.site-navigation-left {
	text-align: left;
}
.site-navigation-right {
	text-align: right;
}
.features-header {
	padding-top: 60px;
	padding-bottom: 51px;
	background-color: rgb(255,255,255);
}
.features-header h3 {
	width: 445px;
	margin: 0 auto;
}
.features p {
	margin: 0;
}
.features-header p {
	margin-top: 27px;
}
.features {
	width: 1200px;
	margin: 0 auto;
}
.feature-1-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.feature-1-image-block {
	min-height: 256px;
	line-height: 0;
}
.feature-1-img div:first-child {
	width: 400px;
	min-height: 208px;
	padding-top: 48px;
}
.feature-1-img-txtblock h3 {
	margin: 0 auto;
	width: 120px;
}
.feature-1-img-txtblock p:first-of-type {
	padding-top: 23px;
}
.feature-1-img-txtblock p:nth-of-type(2) {
	width: 280px;
	padding-top: 22px;
	margin: 0 auto;
}
.feature-1-txt {
	min-height: 272px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 58px;
}
.feature-1-txt-housing,
.feature-1-txt-food,
.feature-1-txt-souvenirs {
	width: 400px;
}
.feature-1-txt-housing h3,
.feature-1-txt-food h3,
.feature-1-txt-souvenirs h3 {
	margin: 0;
}
.feature-1-txt-housing p {
	margin: 0 auto;
	width: 270px;
}
.feature-1-txt-food p {
	margin: 0 auto;
	width: 290px;
}
.feature-1-txt-souvenirs p {
	margin: 0 auto;
	width: 275px;
}
.feature-2-image-block {
	line-height: 0;
}
.feature-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	min-height: 256px;
}
.feature-2-txt-block {
	min-height: 256px;
}
.feature-2-txt-block {
	width: 400px;
}
.feature-2-txt-block h3 {
	width: 151px;
	padding-top: 46px;
	margin: 0 auto;
}
.feature-2-txt-block p {
	padding-top: 23px;
}
.feature-2-txt-block p:nth-of-type(2) {
	width: 305px;
	margin: 0 auto;
}
.features-3-4-5 {
	min-height: 256px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.feature-3 h3 {
	width: 125px;
	margin: 0 auto;
}
.feature-3 p:nth-of-type(2) {
	width: 210px;
	margin: 0 auto;
}
.feature-4 h3 {
	width: 100px;
	margin: 0 auto;
}
.feature-4 p:nth-of-type(2) {
	width: 280px;
	margin: 0 auto;
}
.feature-5 h3 {
	width: 105px;
	margin: 0 auto;
}
.feature-5 p:nth-of-type(2) {
	width: 265px;
	margin: 0 auto;
}
.feature-3,
.feature-4,
.feature-5 {
	width: 400px;
}
.features-3-4-5 h3 {
	padding-top: 47px;
}
.features-3-4-5 p:first-of-type {
	padding-top: 25px;
}
.features-3-4-5 p:nth-of-type(2) {
	padding-top: 21px;
}
@-webkit-keyframes bounce { 
    0%   { -webkit-transform: translateY(-86px); transform: translateY(-86px); }
    100% { -webkit-transform: translateY(0); transform: translateY(0);     } 
 }
@keyframes bounce { 
    0%   { -webkit-transform: translateY(-86px); transform: translateY(-86px); }
    100% { -webkit-transform: translateY(0); transform: translateY(0);     } 
 }